:root {
	--primary: #89024a;
	--secondary: #ea1889;
	--secondary-light: #f872a0;
	--secondary-dark: #700469;
	--error: #ba1a1a;
	--success: #5dc126;
	--background: #fffbff;
	--text-dark: #ffffff;
	--text-ligth: #000000;
	--font-family: VT323;
}
body {
	font-family: var(--font-family);
}
