:root {
	--primary: #89024a;
	--secondary: #ea1889;
	--secondary-light: #f872a0;
	--secondary-dark: #700469;
	--error: #ba1a1a;
	--success: #5dc126;
	--background: #fffbff;
	--text-dark: #ffffff;
	--text-ligth: #000000;
}

@font-face {
	font-family: 'VT323';
	src: url('/fonts/vt323/VT323-Regular.woff2') format('woff2'),
		url('/fonts/vt323/VT323-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html {
/**
    * 14 = smallest font size
    * 20.56 = largest font size
    * 100vw = total screen
    * 280 = smallest screen currently where it will stop flowing
    * 1920= 4k screen where it will no longer flow
    *
    * Note: these values can be modified according to the requirements of each project.
    * feel free to play with them.
    */
    font-size: calc(14px + (20.56 - 14) * ((100vw-280px) / (1920-280)));
    /* Fluid design: Fonts 👆🏽 */
}

body {
	--sb-track-color: #150914;
	--sb-thumb-color: #9546a2;
	--sb-size: 16px;
	--sb-bg: #1a1a1a;
	scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	font-family: 'VT323', monospace;
	font-weight: 400;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
	background-image: url('/img/scroll-icon.svg'),
		linear-gradient(to bottom, var(--sb-bg), var(--sb-bg));
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 8px;
	border: 1px solid #f977bc;
}

.text-center {
	text-align: center;
}

.section-container {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
